.message-header {
    color: #2D2926FF;
    background-color: #E94B3CFF;
    border-radius: 10px;
    z-index: 10;
    padding: 0.25rem 0.5rem;
    min-width: 0.55rem;
    position: absolute;
    margin-top: -0.75rem;
    font-weight: 600;
}

.message-container {
    max-width: 12rem;
    word-wrap: break-word;
    border-radius: 5px;
    color: #E94B3CFF;
    background-color: #2D2926FF;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.message-body {
    height: 100%;
    width: 100%;
    margin-top: 1.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}