<div style="width: 100vw;" class="p-d-flex p-jc-center">
    <div class="p-d-flex p-flex-column p-jc-center menu-container">
        <div>
            <h1>Fast chat</h1>
            <h3>quick, anonymous, disposable, group chats</h3>
        </div>
        <div *ngIf="!joiningChat">
            <div>
                <button pButton type="button" class="p-button-raised p-button-rounded home" label="Create a chat" [disabled]="buttonsDisabled" (click)="createChat()"></button>
            </div>
            <div class="p-mt-5 p-mb-1">
                <button pButton type="button" class="p-button-raised p-button-rounded home" label="Join a chat" [disabled]="buttonsDisabled" (click)="joinAGroup()"></button>
            </div>
        </div>
        <div class="p-mt-5" *ngIf="hasRecentChats && !joiningChat">
            <div class="recent-chat-block" *ngFor="let recentChat of recentChats; let i = index">
                <a [routerLink]="['/chat', recentChat.chatName]">
                    <div class="recent-chat">
                        <div class="p-mb-2"><strong>{{ recentChat.chatName }}</strong></div>
                        <div>{{ recentChat.nickName }} : {{recentChat.body}}</div>
                        <p-divider *ngIf="i < 2"></p-divider>
                    </div>
                </a>
            </div>
        </div>
        <div *ngIf="joiningChat">
            <div class="p-mb-3 body-text center-text">Enter the chat name</div>
            <input placeholder="Name..." type="text" class="joinChat-input" pInputText (keydown.enter)="joinChat()" [(ngModel)]="joinGroupName"/>
            <div class="p-mt-1"><button pButton type="button" class="p-button-raised p-button-rounded joinChatButton" label="Join" (click)="joinChat()"></button></div>
        </div>
    </div>
</div>
