@import '../../HelperClasses/colors.scss';

:host ::ng-deep {
    .p-button.home {
        width: 100%;
        background-color: $blue;
        border: none;
    }

    .p-button.joinChatButton {
        width: 100%;
        background-color: $yellow;
        color: $black;
        font-weight: 500;
    }

    .p-inputtext.joinChat-input {
        border-radius: 8px;
    }

}

.recent-chat:hover{
    font-weight : 700;

    strong {
        font-weight : 700;
    }
}


.menu-container {
    width: 13rem;
    text-align: center;
}

.recent-chat-block {
    cursor: pointer;
    font-weight: 400;
    font-size: 1rem;

    strong {
        font-weight: 500;
    }

    a {
        color: $black;
        text-decoration: none;
    }
    
    a:visited {
        color: $black;
        text-decoration: none;
    }
}