@import '../../HelperClasses/colors.scss';

:host ::ng-deep {
    .p-button.sendButton {
        width: 100%;
        background-color: $blue;
    }

    .p-button.nameButton {
        width: 100%;
        background-color: $yellow;
        color: $black;
        font-weight: 500;
    }

    .p-inputtext#group-input {
        width: 50%;
    }

    .p-inputtext.name-input {
        border-radius: 8px;
    }


    .p-button#join-group {
        width: 50%;
        background-color: $navy;
        margin-left: 0.1rem;
        height: 100%;
    }

    .center-text {
        text-align: center;
    }

}