@import '../../HelperClasses/colors.scss';

.container-message {
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    position: relative;
    max-width: 14rem;
    border-radius: 5px;
    background-color: $gray;
    padding-bottom: 0.5rem;
    padding-top: 0.75rem;
    display: inline-block
}

.message-text {
    font-weight: 400; 
    color: $black;  
    word-wrap: break-word;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.header {
    position: absolute;
    color: $black;
    background-color: $yellow;
    border-radius: 10px;
    z-index: 10;
    font-weight: 600;
    left: 50%;
    transform: translate(-50%);
    margin-top: -1.75rem;
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
}